@using BlogApp.Service.Dtos.Accounts;

@model AccountRegisterDto
@{
    Layout = "_AccountLayout.cshtml";
}

<div >
    <div style="background-color:lightgrey;margin-left:auto;margin-right:auto;margin-top:150px;margin-bottom:auto; width:400px;height:500px;">
            <form asp-controller="accounts" asp-action="register" asp-area="" method="post">
                <h2 class="pt-3 text-center">Register</h2>
                <h4 class="pt-2 mx-2">Full Name</h4>
                <div class="mt-1 pt-1">
                    <input type="text" style="margin-left:20px; max-width:350px" asp-for="FullName" class="form-control form-text" />
                <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <h4 class="pt-4 mx-2">Email</h4>
                <div class="mt-1 pt-1">
                    <input type="email" style="margin-left:20px; max-width:350px" asp-for="Email" class="form-control form-text" />
                <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <h4 class="pt-4 mx-2">Password</h4>
                <div class="mt-1 pt-1">
                    <input type="password" style="margin-left:20px; max-width:350px" asp-for="Password" class="form-control form-text" />
                <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input type="submit" class="btn mt-4 me-5 pt-2" style="margin-left:90px;background-color :aqua"/>
						<span>
							<a asp-controller="accounts" asp-action="login" class="btn mt-4 " style="background-color :aqua">log In</a>
						</span>
            </form>

    </div>
</div>